<div class="container">
  <form id="horse_info" {{action 'editVet' on='submit'}}>
    <ul class="standard_list">
      <li>
        <label>Name</label>
        {{input id='name' placeholder='Name' value=model.name class="login_field"}}
      </li>
      <li>
        <label>Phone</label>
        {{input id='phone' placeholder='Phone' value=model.phone class="login_field"}}
      </li>
    </ul>
    <input class="red" type="submit" value="Save" />
    <button class="outline" {{action 'cancel'}}>Cancel</button>
  </form>
</div>