<div class="container">
  <div class="login_hdr note">
    <ol class="card">
      <li class="card_info">
        <h3>{{model.name}}</h3>
        <p>{{model.phone}}</p>
      </li>
    </ol>
    <button {{action removeVeterinarian}} class="red">Remove Veterinarian</button>
  </div>
</div>