<div id="container">
  <div class="page_title"></div>
  {{#each}}
    <ol class="card">
      <li class="card_info">
        {{#link-to 'horse' this}}
          <img src="assets/images/horseFPO.jpg" />
          <h3>{{nick_name}}</h3>
          <p>{{name}}</p>
          <p class="card_breed">Breed</p>
          <p>{{breed}}</p>
        {{/link-to}}
      </li>
    </ol>
  {{/each}}
</div>