<div class="container">
  <div class="login_hdr photo">
    <ol class="card">
      <li class="card_info">
        <img {{bind-attr src='model.image.image.url'}} />
      </li>
    </ol>
    <button {{action 'removeDocument'}} class="red">Remove Document</button>
    <button {{action 'cancel'}} class="outline">Cancel</button>
  </div>
</div>