<div class="container">
  <div class="page_title">Photos</div>
  <div class="photo_list">
    {{#each model.photos}}
      <div class="photo_card">
        {{#link-to 'photo' controller.horse this.id}}<img {{bind-attr src="image.image.url"}} />{{/link-to}}
      </div>
    {{/each}}
  </div>
</div>