<div class="container">
  <div class="page_title">Health Information</div>

  <ul class="standard_list">
    <li>
      <span>Last Dentist</span>
      12/02/2013
    </li>

    <li>
      <span>Dentist Name</span>
      Dr. Steve Webber
    </li>

    <li>
      <span>Dentist Phone</span>
      123-123-1234
    </li>

    <li>
      <span>Dentist Interval</span>
      6 Months
    </li>

    <li>
      <span>Last Coggins</span>
      12/2/2013
    </li>

    <li>
      <span>Last Deworming</span>
      12/2/2013
    </li>

    <li>
      <span>Last Tetanus</span>
      12/2/2013
    </li>

    <li>
      <span>Last Rabies</span>
      12/2/2013
    </li>

    <li>
      <span>Last VEW</span>
      12/2/2013
    </li>

    <li>
      <span>Last Botulism</span>
      12/2/2013
    </li>

    <li>
      <span>Last Potomac</span>
      12/2/2013
    </li>

    <li>
      <span>Last Strangles</span>
      12/2/2013
    </li>

    <li>
      <span>Last Anthrax</span>
      12/2/2013
    </li>

    <li>
      <span>Last Rhino. Flu</span>
      12/2/2013
    </li>

    <li>
      <span>Rhino Interval</span>
      6 Months
    </li>

    <li>
      <span>Last West Nile</span>
      12/2/2013
    </li>

    <li>
      <span>West Nile Interval</span>
      6 Months
    </li>

    <li>
      <span>Other Vacc.</span>
      Another vacc. name here
    </li>

    <li>
      <span>Health Comments</span>
      Misc comments here...
    </li>

  </ul>
</div>