<div class="container">
  <div class="page_title">Photos</div>
  <div class="photo_list">
    <div class="photo_card" style="float: left;width:50%;background: #fff;box-sizing:border-box;padding: 5px;">
        <img src="assets/images/horseFPO.jpg" style="width: 100%;" />
    </div>
    <div class="photo_card" style="float: left;width:50%;background: #fff;box-sizing:border-box;padding: 5px;">
        <img src="assets/images/horseFPO.jpg" style="width: 100%;" />
    </div>
    <div class="photo_card" style="float: left;width:50%;background: #fff;box-sizing:border-box;padding: 5px;">
        <img src="assets/images/horseFPO.jpg" style="width: 100%;" />
    </div>
    <div class="photo_card" style="float: left;width:50%;background: #fff;box-sizing:border-box;padding: 5px;">
        <img src="assets/images/horseFPO.jpg" style="width: 100%;" />
    </div>
    <div class="photo_card" style="float: left;width:50%;background: #fff;box-sizing:border-box;padding: 5px;">
        <img src="assets/images/horseFPO.jpg" style="width: 100%;" />
    </div>
    <div class="photo_card" style="float: left;width:50%;background: #fff;box-sizing:border-box;padding: 5px;">
        <img src="assets/images/horseFPO.jpg" style="width: 100%;" />
    </div>
  </div>
</div>