<div class="container">
  <div class="page_title">Stable Information</div>
  <ul class="standard_list">
    <li>
      <span>Last Farrier</span>
      05/12/2014
    </li>
    <li>
      <span>Farrier Name</span>
      Edward Smith
    </li>
    <li>
      <span>Farrier Phone</span>
      123-123-1234
    </li>
    <li>
      <span>Farrier Interval</span>
      Every 3 Months
    </li>
    <li>
      <span>Hay</span>
      Jonestown
    </li>
    <li>
      <span>Feed</span>
      Grain Brand
    </li>
    <li>
      <span>Supplements</span>
      Supplement One
    </li>
  </ul>
</div>