<div class="container">
  <div class="calculator">
    <form>
      <p>
        <label>Heart Girth</label>
        <input class="login_field" name="girth" placeholder="0" /> in.
      </p>
      <p>
        <label>Body Length</label>
        <input class="login_field" name="length" placeholder="0" /> in.
      </p>
      <p>
        <label>Estimated Weight</label>
        <input class="login_field" name="weight" placeholder="0" /> lb.
      </p>
      <input class="red" type="submit" value="Record Weight" />
    </form>
  </div>
</div>