<div class="container">

<div class="addhorses">
  <p>Add more horses
    <div class="addbuttons">
      <div class="addfive"><p>+5</p></div><div class="minusfive"><p>-5</p>
      </div>
    </div>
  <br />each addtional 5 horses<br />
  only $2 a month</p>
</div>

<div class="upgrade">
<p>Total Horses<br />
<span class="large_number">10</span><br /><br />
Total Payment
</p>
<br />
<form method="" action="">

<span class="mid_number">$7</span>
<input type="radio" name="radiog_dark" id="radio4" class="css-checkbox" />
<label for="radio4" class="css-label"> <span class="xsmall">Monthly</span></label>
<br /><br />
<span class="mid_number">$52</span>
<input type="radio" name="radiog_dark" id="radio5" class="css-checkbox" checked="checked"/>
<label for="radio5" class="css-label"> <span class="xsmall">Yearly</span></label>
</form>
<br /><br />
<a href="payment.html"><button class="red">Make Payment</button></a>
</div>

</div>
