{{#if session.isAuthenticated }}
  <!-- Pushy Menu -->
  <nav class="pushy pushy-left">

    <div class="nav_user">
      <p>{{session.user_name}}</p>
      <p class="user_account">{{#link-to 'account-settings'}}<img src="assets/images/gear.png" />{{/link-to}}</p>
    </div>

    <ul>
        <li>{{#link-to 'horses'}}My Horses{{/link-to}}</li>
        <li><a href="#">Veterinarians</a></li>
        <li><a href="#">Documents</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Weight Calculator</a></li>
        <li><a href="#">Links</a></li>
    </ul>
  </nav>

  <!-- Site Overlay -->
  <div class="site-overlay"></div>

  <div id="push_wrap">
    <div class="navigation_bar">
      <div class="menu-btn">&#9776;</div>
      <div class="section_title"></div>
      <div class="navright"><img src="assets/images/edit_button.png" /></div>
    </div>
{{/if}}
{{outlet}}
{{#if session.isAuthenticateded }}
  </div>
{{/if}}