<div class="navigation_bar">
  <div class="menu-btn">&#9776;</div>
  <div class="section_title">{{title}}</div>
  <div class="navright"><img src="assets/images/add_button.png" {{action 'newObject'}} /></div>
</div>