<div class="container">

  <div class="alert_message">
  <img src="assets/images/alert.png" alt="ALERT!"/>
  <p>Are you sure you want to permanently delete your account?</p>
  <br /><br /><br /><br />
  <a href="login.html"><button class="red">Remove Now</button></a>
  <a href="accountsettings.html"><button class="outline">Go Back To Settings</button></a>
  </div>

</div>