<div class="navigation_bar">
  <div class="navleft"><a href="accountsettings.html"><img src="assets/images/back_arrow.png" /></a></div>
  <div class="section_title">Change Password</div>
</div>
<div class="container">

<div class="login_form">
<form method="" action="">
  <input class="login_field" type="oldpassword" name="oldpassword" placeholder="Old Password" />
  <input class="login_field" type="newpassword" name="newpassword" placeholder="New Password" />
  <input class="login_field" type="newpasswordagain" name="newpasswordagain" placeholder="New Password Again" />

  <input class="red" type="submit" value="Sign Up">
</form>

</div>

</div>