<div class="navigation_bar">
  <div class="navleft"><a href="accountsettings.html"><img src="assets/images/back_arrow.png" /></a></div>
  <div class="section_title">Change Password</div>
</div>
<div class="container">

<div class="login_form">
<form {{action 'updateUser' on='submit'}}>
  {{!-- <input class="login_field" type="oldpassword" name="oldpassword" placeholder="Old Password" />
  <input class="login_field" type="newpassword" name="newpassword" placeholder="New Password" />
  <input class="login_field" type="newpasswordagain" name="newpasswordagain" placeholder="New Password Again" /> --}}

  {{input id='current_password' placeholder='Old Password' value=current_password type='password' class="login_field"}}
  {{input id='password' placeholder='New Password' value=password type='password' class="login_field"}}
  {{input id='password_confirmation' placeholder='New Password Again' value=password_confirmation type='password' class="login_field"}}

  <input class="red" type="submit" value="Sign Up">
</form>

</div>

</div>