<div class="container">
  <div class="login_form">
    <form {{action 'updateUser' on='submit'}}>
      {{input id='current_password' placeholder='Old Password' value=current_password type='password' class="login_field"}}
      {{input id='password' placeholder='New Password' value=password type='password' class="login_field"}}
      {{input id='password_confirmation' placeholder='New Password Again' value=password_confirmation type='password' class="login_field"}}

      <input class="red" type="submit" value="Sign Up">
    </form>
  </div>
</div>