<div class="container">
<div class="login_hdr"><img src="assets/images/login_splash.jpg" alt="Pocket Stable" /></div>

<div class="check">
<p class="check_title"><img src="assets/images/check.png" alt="Check Your Email"/><br />Check your email.</p>
<p>We've sent you an email confirmation to finish<br />your registration.</p>
<p>Check your spam folder<br />if you don't see email.</p>
<br /><br />
<a href="login.html"><button class="red">Done</button></a>
</div>

</div>