<div class="container">
<div class="page_title">Feeding Information</div>

<ul class="standard_list_left">
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
</ul>

<ul class="standard_list_right">
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
  <li>FPO</li>
</ul>

</div>