<div class="container">
  <div class="align-center">
    <p>Email Address</p>
    <div>{{input id='email' placeholder='Email' value=email class="login_field"}}</div>
    <div><button class="red" {{action 'sendEmail'}}>Submit</button></div>
  </div>
</div>