<div class="container">

<div class="check">
<br /><br />
<p class="check_title"><img src="assets/images/check.png" alt="Check Your Email"/><br />Your password has been changed.</p>
<br /><br />
<a href="accountsettings.html"><button class="red">Done</button></a>
</div>

</div>