<div class="container">

<div class="totalpayment">
  <p>Total Payment
  <br /><br />
  <span class="bigmid_number">$7</span><span class="xsmall">Monthly</span>
  </p>
</div>

<div class="login_form">
<form method="" action="">
<input class="login_field" type="cc_name" name="cc_name" placeholder="Full name on card" />
<input class="login_field" type="password" name="cc_number" placeholder="Card Number" />

  <br />
  <div class="card_fields">
  <div class="expdate">Expiration date</div><div class="cc_cv">CV Code</div>
  <input class="mm_field" type="cc_month" name="cc_month" placeholder="MM" />
  <input class="yyyy_field" type="cc_year" name="cc_year" placeholder="YYYY" />

  <input class="cv_field" type="cc_CVCode" name="cc_CVCode" placeholder="" />
  </div>
<!--  <input class="red" type="submit" value="Login">-->
</form>

<a href="#"><button class="red">Purchace Now</button></a><br />
<img src="assets/images/lock.png" /> <span class="xsmall">Secure encrypted payment</span>

</div>
</div>
</div>