<div class="container">
  <div class="align-center">
    <div>{{input id='password' placeholder='Password' value=password class="login_field"}}</div>
    <div>{{input id='password_confirmation' placeholder='Confirm Password' value=password_confirmation class="login_field"}}</div>
    {{input id='reset_token' value=reset_password_token type="hidden"}}
    <div><button class="red" {{action 'sendPassword'}}>Submit</button></div>
  </div>
</div>