<div class="container">
<div class="page_title">Stable Information</div>

<ul class="standard_list_left">
  <li>Last Farrier</li>
  <li>Farrier Name</li>
  <li>Farrier Phone</li>
  <li>Farrier Interval</li>
  <li>Hay</li>
  <li>Feed</li>
  <li>Supplements</li>
</ul>

<ul class="standard_list_right">
  <li>05/12/2014</li>
  <li>Edward Smith</li>
  <li>123-123-1234</li>
  <li>Every 3 Months</li>
  <li>Jonestown</li>
  <li>Grain Brand</li>
  <li>Supplement One</li>
</ul>
</div>